
services:

  homeassistant:
    image: ghcr.io/home-assistant/home-assistant:stable
    container_name: home-assistant
    restart: unless-stopped
    networks:
      - ha-net
    volumes:
      - ./ha/config:/config
    devices:
      - /dev/serial/by-id/usb-ITEAD_SONOFF_Zigbee_3.0_USB_Dongle_Plus_V2_20220812104623-if00:/dev/ttyACM0
    environment:
      - TZ=Europe/Rome

  hass-configurator:
    image: "causticlab/hass-configurator-docker:latest"
    container_name: hass-configurator
    restart: always
    ports:
      - "3218:3218/tcp"
    networks:
      - ha-net  # use same network as HA if needed
    volumes:
      # Configurator's own settings
      - ./data/configurator-config:/config
      # Home Assistant configuration folder
      - ./ha/config:/hass-config
    environment:
      - HC_BASEPATH=/hass-config/
      - HC_ALLOWED_NETWORKS=192.168.0.0/24

  nginx-proxy-manager:
    image: jc21/nginx-proxy-manager:latest
    container_name: nginx-proxy-manager
    restart: unless-stopped
    ports:
      - "80:80"       # HTTP
      - "81:81"       # interfaccia admin
      - "443:443"     # HTTPS
    volumes:
      - ./nginx/data:/data
      - ./nginx/letsencrypt:/etc/letsencrypt
    networks:
      - ha-net

  ha-backup:
    image: offen/docker-volume-backup
    container_name: ha-backup
    restart: unless-stopped
    environment:
      - BACKUP_CRON=0 3 * * *                # ogni notte alle 3
      - BACKUP_FILENAME=ha-backup-%Y-%m-%dT%H-%M-%S.tar.gz
      - BACKUP_LATEST_SYMLINK=true
    volumes:
      - ./ha/config:/backup/homeassistant:ro
      - ./backups:/archive
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - ha-net

  hyperion:
    image: sirfragalot/hyperion.ng:latest
    container_name: hyperion
    restart: unless-stopped
#    devices:
#      - "/dev/video0:/dev/video0"  # framegrabber per Kodi
    environment:
      - TZ=Europe/Rome
    volumes:
      - ./hyperion/config:/config
    network_mode: host

networks:
  ha-net:
    driver: bridge
