
services:

  homeassistant:
    image: ghcr.io/home-assistant/home-assistant:stable
    container_name: home-assistant
    restart: unless-stopped
    volumes:
      - ./ha/config:/config
    devices:
      - /dev/serial/by-id/usb-ITEAD_SONOFF_Zigbee_3.0_USB_Dongle_Plus_V2_20220812104623-if00:/dev/ttyACM0
    environment:
      - TZ=Europe/Rome
    networks:
      - ha-net

  hass-configurator:
    image: "causticlab/hass-configurator-docker:latest"
    container_name: hass-configurator
    restart: always
    ports:
      - "3218:3218/tcp"
    volumes:
      # Configurator's own settings
      - ./data/configurator-config:/config
      # Home Assistant configuration folder
      - ./ha/config:/hass-config
    environment:
      - HC_BASEPATH=/hass-config/
      - HC_ALLOWED_NETWORKS=192.168.0.0/24
    networks:
      - ha-net  # use same network as HA if needed

  nginx-proxy-manager:
    image: jc21/nginx-proxy-manager:latest
    container_name: nginx-proxy-manager
    restart: unless-stopped
    ports:
      - "80:80"       # HTTP
      - "81:81"       # interfaccia admin
      - "443:443"     # HTTPS
    volumes:
      - ./nginx/data:/data
      - ./nginx/letsencrypt:/etc/letsencrypt
    networks:
      - ha-net # use same network as HA if needed

#  ha-backup:
#    image: offen/docker-volume-backup
#    container_name: ha-backup
#    restart: unless-stopped
#    environment:
#      - BACKUP_CRON=0 3 * * *                # ogni notte alle 3
#      - BACKUP_FILENAME=ha-backup-%Y-%m-%dT%H-%M-%S.tar.gz
#      - BACKUP_LATEST_SYMLINK=true
#    volumes:
#      - ./ha/config:/backup/homeassistant:ro
#      - ./backups:/archive
#      - /var/run/docker.sock:/var/run/docker.sock:ro
#    networks:
#      - ha-net # use same network as HA if needed

  hyperion:
    image: sirfragalot/hyperion.ng:latest
    container_name: hyperion
    restart: unless-stopped
    devices:
      - "/dev/video0:/dev/video0"  # framegrabber per Kodi
    environment:
      - TZ=Europe/Rome
    volumes:
      - ./hyperion/config:/config
    network_mode: host # use host network for grab

  dynudns:
      image: koying/dynudns-addon:latest
      container_name: dynudns
      restart: unless-stopped
      network_mode: host
      environment:
        - TZ=Europe/Rome
        - LETS_ENCRYPT_ACCEPT_TERMS=true
        - LETS_ENCRYPT_CERTFILE=fullchain.pem
        - LETS_ENCRYPT_KEYFILE=privkey.pem
        - DUCK_TOKEN=ad1c9e8f-9577-4c7b-9e30-09467506dae8
        - DYNU_TOKEN=5UVY5XVe3eg25e5Y3ebWZV66736VfdXe
        - DOMAINS=fastcolors.mywire.org,fastcolors.duckdns.org
        - ALIASES=
        - WILDCARD_ALIAS=false
        - SECONDS=120
        - LOG_LEVEL=info

networks:
  ha-net:
    driver: bridge
